/* INDEX */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.container-fluid{
    margin-top: 80px;
    margin-bottom: 1.5vh;
}

footer{
    background-color: #f8f9fa;
    font-size: 0.805em;
}

#grumpy{
    padding: 0;
    text-align: center;
    color: #b20000;
}

.card{
    max-width: 100% !important;
}

.bg-primary{
    background-color: #5579a6 !important;
}

.bg-danger{
    background-color: #546e7a !important;
}

.form-inline{
    display: none !important;
}

.input-group-append{
    display: inline;
    background-color: #b20000;
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon{
    width: 20px;
    height: 20px;
}

.navbar-toggler:focus{
    outline-color: transparent;
}

.list-group-item{
    background-color: #343a40 !important;
    border: none;
    color: #848688;
}

.list-group-item:hover, .list-group-item:focus{
    color: white !important;
}

.dropdown-toggle{
    background-color: transparent;
    border: none;
}

.btn-secondary{
    background-color: transparent !important;
}

.btn-secondary:focus{
    outline-color: none !important;
}

.dropdown-toggle:selected{
    background-color: transparent;
}

.form-inline{
    position: absolute;
    right: 10%;
}

.mini{
    width: 25px;
    height: 25px;
}

.return{
    width: 20px;
    height: 20px;
}

.full-width{
    width: 100%;
}

/* STATIC */

.border{
    border-radius: 3px;
}

.blank{
    height: 100vh;
}

/* LIGHT */

.blank{
    height: 60vh;
}

/* 404 */

#img-404{
    width: 350px;
    height: 350px;
}

.padding-top{
    padding-top: 5%;
}

/* LOGIN */

.bg-blue{
    background-color: #007bff;
    height: 100vh;
}

.smaller-header-card{
    font-size: 2em;
    padding: 5%;
}

/* REGISTER */

.full-width-btn{
    width: 100%;
    margin-top: 5%;
}

/* MEDIA */

@media (min-width: 768px){
    .form-inline{
        display: inline !important;
    }
}

@media (min-width: 992px){
    .navbar-toggler{
        position: absolute;
        right: 80%;
    }
}