@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

*{
    box-sizing: border-box;
    font-family: Nunito, 'Times New Roman';
    font-weight: 400;
}


html, body{
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: #000000;
    color: #d9d9d9;
}

h3, h1{
    margin-top: 5px;
}

h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
}

h2{
    margin: 0 5%;
    font-size: 1em;
    font-weight: bold;
}


hr{
    border-color: #202327;
}



div{
    display: inline; /*?????????*/
    float: left;
    height: 100vh;
}

/* LEFT */

.left{
    /*background-color: rgb(89, 79, 235);*/
    width: 20%;
    height: 100vh;
    margin-left: 5%;
    position: fixed;
}

svg{
    fill: #d9d9d9;
    width: 25px;
    margin: 0 5%;
}

/* buttons */

button{
    font-weight: bold;
    color: white;
    border: none;
    background-color: transparent;
}


.icon:hover{
    color: #17bf63;
}

svg:hover{
    fill: #17bf63;
}

.icon{
    height: 6vh;
    min-height: 40px;
    min-width: 40px ;
    border: none;
    text-align: left;
    display: block;
    width: 100%;
    /*background-color: wheat;*/
}

button:focus{
    outline-width: 0;
}

button:first-of-type{
    width: 23%;
    padding-left: 5%;
}

.left .tweet-btn{
    background-color: #17bf63;
    width: 80%;
    height: 5%;
    min-height: 45px;
    border-radius: 30px;
    margin-left: 10%;
    margin-top: 5%;
}

.happening .tweet-btn{
    background-color: #17bf63;
    width: 15%;
    min-width: 60px;
    height: 40%;
    border-radius: 30px;
    padding: 0;
    float: right;
}

.tweet-btn:hover{
    background-color:  #13af59;
}

.btn-tl{
    margin: 0;
}

/* CONTAINER (MAIN/RIGHT) */

.container{
    height: 100vh;
    width: 70%;
    /*background-color: orange;*/
    margin-left: 25%;
    position: absolute;
    min-width: 300px;
}

.show-more{
    color: #13af59;
}

/* MAIN */

.main{
    /*background-color: rgb(165, 165, 235);*/
    width: 60%;
    border: 1px solid #2f3336;
    border-bottom: none;
    height: 100vh;
}

.home{
    display: block;
    width: 42%;
    background-color: black;
    height: 5vh;
    min-height: 40px;
    position: fixed;
    z-index: 2;
}

.happening{
    display: inline;
    height: 11vh;
    min-height: 100px;
    width: 100%;
    border-bottom: 10px solid #202327;
}

textarea{
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    resize: none;
}

textarea:focus{
    outline-width: 0;
}

.timeline{
    margin: 0px 20px;
    text-align: left;
    position: relative;
    height: 100vh;
    margin-top: 50px;
}

#profile{
    position: absolute;
    bottom: 0;
}

.pic-user{
    width: 50px;
    margin-right: 5px;
    display: inline;
    float: left;
    border-radius: 50px;
}

/* RIGHT */

.right{
    /*background-color: orange;*/
    width: 40%;
    height: 100vh;
    padding: 0 2%;
}

.search{
    display: block;
    width: 25%;
    background-color: black;
    height: 5vh;
    min-height: 45px;
    position: fixed;
    z-index: 2;
}

input#search{
    width: 80%;
    background-color: #202327;
    border: none;
    border-radius: 15px;
    height: 3vh;
    min-height: 35px;
    margin-top: 5px;
    margin-left: 10%;
}

#search:focus{
    border: 1px solid #17bf63;
    outline-color: transparent;
}

#search::placeholder{
    padding-left: 10%;
}

.trends{
    display: block;
    position: relative;
    /*background-color: teal;*/
    margin-top: 45px;
    height: 40vh;
    min-height: 470px;
    width: 100%;
    min-width: 180px;
}

.right button{
    /*background-color: rgba(18, 16, 156, 0.959);*/
    width: 100%;
    height: 8vh;
    min-height: 70px;
    line-height: 0vh;
    text-align: left;
    border-bottom: 1px solid #2f3336;
}

.right button:hover{
    background-color: #222527;
}

.trends h3{
    font-weight: bold;
}

.follow{
    display: block;
    /*background-color: limegreen;*/
    height: 37%;
    width: 100%;
    min-width: 300px;

}
    
.nonsense{
    margin-top: 2px;
    width: 85%;
    max-width: 400px;
    border-radius: 15px;
}

.dwight{
    display: block;
    width: 85%;
    height: 17vh;
    min-height: 150px;
}
