@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    align-items: center;
}

.header{
    border: 2px solid #eee;
    text-align: center;
    background-color: white;
    padding: 15px;
}

h1{
    font-weight: 700;
    text-transform: uppercase;
}

.menu li{
    list-style-type: none;
    display: inline;
    padding: 15px;
}

a{
    text-decoration: none;
    color: grey;
}

.header a:hover{
    font-weight: bold;
}

.selected{
    color: #ea4335;
    font-weight: bold;
}

.back{
    width: 100%;
    height: 600px;
    background-image: url(../img/jane.jpg);
    object-fit: contain;
}

/* main */

body{
    margin: 0;
}

section{
    margin: auto;
    padding: 40px;
    width: 800px;
    align-items: auto;
}

h2, h3{
    font-weight: bold;
}

.comment{
    text-align: center;
    vertical-align: middle;
}

strong{
    font-weight:bold;
}

img{
    width: 400px;
}

ol li a{
    line-height: 200%;
    color: orange;
    font-weight: bold;
}

.container{
    overflow: hidden;
}

.container a:hover{
    font-weight: normal;
}

.metade{
    width: 50%;
    float: left;
}

.credits{
    line-height: 35px;
}

.contact{
    border-top: solid 2px #eee;
    margin: 20px 0;
    width: 100%;
    box-sizing: border-box;
}

.link:hover{
    text-decoration: underline;
}

label.txt{
    display: block;
    margin-top: 15px;
}

label.txt:first-of-type{
    margin-top: 0;
}

input.txt{
    width: 95%;
}

textarea{
    width: 95%;
    resize: vertical;
}

button{
    width: 60px;
    background-color: #ea4335;
    color: white;
    box-shadow: none;
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    float: right;
    margin: 0 15px;
}

button[type="reset"]{
    background-color: lightgrey;
    float: left;
    margin: 0 0;
}

button:hover{
    font-weight: bold;
}

footer{
    background-color: #eee;
    padding: 5px;
    text-align: center;
}
